.up{
    width: 1000px;
    margin-top: 20px;

}
.up-logo{
    float: left;
    width: 146px;
    margin-top: 6px;
}
.up-logo img{
    display: block;
    width: 100%;
}
.up-search{
    float: left;
    width: 370px;
    height: 38px;
    border: 1px solid #0aa1ed;
    margin-left: 100px;
    margin-top: 8px;
}
.up-search .search-input{
    width: 200px;
    height: 38px;
    line-height: 38px;
    display: block;
    float: left;
    border-width: 0;
    outline: none;
    background-color: #f5f5f5;
    font-size: 12px;
    padding-left: 5px;

}
.search-select{
    width: 120px;
    float: left;
}
.search-select:hover ul{
    display: block;
}
.select-title{
    width: 120px;
    height: 38px;
    background-color: #f5f5f5;
    position: relative;
}
.select-title h3{
    font-size: 14px;
    color: #bbbbbb;
    line-height: 38px;
    font-weight: 400;
    float: left;
    margin-left: 20px;
}
.select-title span{
    float: left;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #bbbbbb;
    /*margin: 14px 0px 0px 15px;*/
    position: absolute;
    top: 15px;
    right: 10px;

}
.select-ul{
    width: 120px;
    display: none;
    background-color: #cccccc;

}
.select-ul li{
    width: 120px;
    line-height: 2;
    text-align: center;
}
.up-btn{
    float: right;
    width: 42px;
}
.up-btn img{
    display: block;
    width: 100%;
}
.up-menu{
    float: right;
    margin-top: 16px;
}

.up-menu > div{
    float:left;
    width: 60px;
    border-right: 1px solid #bbbbbb;
    text-align: center;
}
.up-menu > div a{
    color: #aaa;
}
.up-menu > div img{
    display: block;
    margin: 0 auto;
}
.up-menu .login{
    border-right-width: 0;
}
.up-menu > div span{
    line-height: 20px;
}
/*nav–¥ÕÍ¡À*/
.nav{
    width: 1000px;

}
.nav a{
    color: #bbbbbb;
    display: inline-block;
    margin: 20px 30px 20px 0;
}
.nav a:hover{
    color: #0aa1ed;

}