.banner{
    width: 1000px;
}
.banner>div img{
    display: block;
}
.banner.banner-1{
    width: 1000px;
}
.banner-3{
     margin: 10px auto;
 }
.banner-3-item{
    width: 326px;
    float: left;
    position: relative;
}
.banner-3 .introduce{
    position: absolute;
    top: 40%;
    right: 5px;
    text-align: right;
    color: white;
}
.banner-3 .introduce h3{
    margin-bottom: 5px;
    font-size: 18px;
}
.banner-3-item img{
    display: block;
    width: 100%;
}
.i1{
    background-color: #1fa2ea;
}
.i2{
    background-color: #c5fad8;
    margin-left: 11px;
    margin-right: 11px;

}
.banner-3 >.i2 >.introduce{
    color: #0c7e65;
}
.i3{
    background-color: #e69ba9;
}
.study{
    width: 1000px;
    margin-top: 46px;
    margin-bottom: 15px;
}
.study-title{
    width: 1000px;
    margin-bottom: 15px;
}
.study-title h2{
    color: #333333;
    float:left;
    margin-right: 16px;
}
.study-title p{
    float:left;
    width: 150px;
    font-size: 14px;
    padding: 6px 0;
    color: white;
    text-align: center;
    background-color: black;
    background-color: #333333;
}
.study-table>.left{
    width: 615px;
    margin-right: 10px;
    background-color: #E2E2E2;
    float: left;
}
.study-table img{
    display: block;
    width: 100%;

}
.study-table>.right{
    width: 375px;
    float: left;
}
.r-1 {
    margin-bottom: 10px;
}
.study-table>.right>div{
    background-color: #E2E2E2;
}
